
src/Inserter/Inserter.Logic/bin/Debug/Inserter.Logic.dll
src/Inserter/Inserter.Logic/bin/Debug/Inserter.Logic.dll
src/Inserter/Inserter.Logic/bin/Debug/Inserter.Logic.pdb
src/Inserter/Inserter.Logic/obj/Debug/Inserter.Logic.csproj.CoreCompileInputs.cache
src/Inserter/Inserter.Logic/obj/Debug/Inserter.Logic.csproj.FileListAbsolute.txt
src/Inserter/Inserter.Logic/obj/Debug/Inserter.Logic.dll
src/Inserter/Inserter.Logic/obj/Debug/Inserter.Logic.pdb
src/Inserter/Inserter.UI.WinForms/bin/Debug/Inserter.Logic.dll
src/Inserter/Inserter.UI.WinForms/bin/Debug/Inserter.Logic.pdb
