
src/Inserter/.vs/Inserter/v16/.suo
src/Inserter/Inserter.Logic/bin/
src/Inserter/Inserter.Logic/bin/Debug/Inserter.Logic.pdb
src/Inserter/Inserter.Logic/bin/Debug/Inserter.Logic.dll
src/Inserter/Inserter.Logic/obj/Debug/Inserter.Logic.csproj.CoreCompileInputs.cache
src/Inserter/Inserter.Logic/obj/Debug/Inserter.Logic.csproj.FileListAbsolute.txt
src/Inserter/Inserter.Logic/obj/Debug/Inserter.Logic.csprojAssemblyReference.cache
src/Inserter/Inserter.UI.WinForms/obj/
src/Inserter/Inserter.UI.WinForms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/Inserter/Inserter.UI.WinForms/obj/Debug/Inserter.UI.WinForms.csprojAssemblyReference.cache
src/Inserter/Inserter.UI.WinForms/bin/
src/Inserter/Inserter.UI.WinForms/bin/Debug/Inserter.Logic.dll
src/Inserter/Inserter.UI.WinForms/bin/Debug/Inserter.Logic.pdb
src/Inserter/Inserter.UI.WinForms/bin/Debug/Inserter.UI.WinForms.exe
src/Inserter/Inserter.UI.WinForms/bin/Debug/Inserter.UI.WinForms.pdb
